---
title: Deploying Your Product as a Tile in Ops Mananger
---

It is assumed you have successfully [deploying a product with Bosh](./deploying-with-bosh.html) by following the linked instructions.

Ops Manager sits on top of BOSH to make the process of configuring and deploying software easier. Using Ops Manager to deploy a tile takes advantage of error checking and automatic manifest generation, as well as built-in lifecycle management for upgrading a product when a new release is published.

These instructions will lead you through the process of understanding the innards of a tile by examining and installing a pre-built example.

## <a id='deploy-ops-manager'></a>Step 1: Deploy Ops Manager

Ops Manager is available on [Pivotal Network](http://network.pivotal.io). For the purpose of this step we will launch an Amazon AMI in the VPC we used for the [Deploying Your Product with Bosh](./deploying-with-bosh.html) topic.

1. Login to [Pivotal Network](http://network.pivotal.io) and download the latest Ops Manager for AWS. This is a PDF with the AMI ID.

1. Login to the AWS Console.

1. Navigate to the EC2 Dashboard.

1. Click the Launch Instance button.

1. Choose Community AMIs and search for the Ops Manager AMI as printed in the PDF you downloaded from Pivotal Network.

1. Click the Select button next to the Ops Manager AMI.

1. Choose an m3.large instance and click Next: Configure Instance Details.

1. Choose the VPC and public Subnet you created for the exercise of [Deploying Your Product with Bosh](./deploying-with-bosh.html).

1. Auto-assign a Public IP.
<%= image_tag 'vpc.png' %>

1. Click Review and Launch.

1. Edit the Security Group and set it to the OpsManagerSecurityGroup you used in the BOSH exercise.

1. Click Launch.

1. Choose the keypair you created in the BOSH exercise and accept the aknowledgement checkbox.
<%= image_tag 'keypair.png' %>

1. Click Launch Instance.

## <a id='configure-install'></a>Step 2: Configure and Install Ops Manager Director

1. Find the public IP address of the Ops Manager you deployed in the EC2 Dashboard.

1. Open a browser and navigate to the Ops Manager IP address.

1. Create a username, password and agree to the terms and conditions.
<%= image_tag 'username-pass.png' %>

1. Click on the Director Tile.
<%= image_tag 'director.png' %>

1. Enter the Access Key, Secret, VPC ID, Security Group, Key Pair, Private Key and Region using the same values you used for the BOSH exercise.
<%= image_tag 'aws-config.png' %>

1. Navigate to the Director Config page.

1. Enter an Amazon NTP Server (0.amazon.pool.ntp.org) and click Save.

1. Navigate to the Create Availability Zone page.

1. Enter the Availability Zone for the private subnet of your VPC (example: us-west-1a) and click Save.

1. Navigate to the Assign Availability Zone page.

1. Select the Availability Zone you created and click Save.

1. Navigate to the Create Networks page.

1. Enter a network name, Subnet ID, CIDR Range, Excluded IP range, DNS, and gateway using the same values you used for the BOSH exercise. Note: you will get errors that Ops Manager cannot reach the gateway or DNS server.
<%= image_tag 'networks.png' %>

1. Navigate to the Assign Networks page.

1. Select the network you created and click Save.

1. Click Apply Changes and wait until the Ops Manager Director is successfully installed. If you have existing VMs in the VPC you will recieve errors that IP addresses are already in use.

## <a id='examine-example'></a>Step 3: Download and Examine the Example Product Tile

We will learn how to build an Product Tile by examining its contents.

1. Download the latest release of the [Example Product Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases).

1. Change the extension from .pivotal to .zip and unzip the file on your local workstation.

Study the files contained in the following directories using these explanations as a guide. Once you have looked at the files, we will deploy the tile, SSH into the Ops Manager, and explore how the tile functions.
<ul>
    <li>Content_migrations <strong>(optional)</strong>: Migrations for when an earlier version is upgraded.</li>
    <li>Metadata <strong>(required)</strong>: This directory includes a product template, which is how a product is rendered in Ops Manager, and instructions for how its BOSH manifest is generated.</li>
    <li>Releases <strong>(optional)</strong>: BOSH releases that contain the source code for a product. In this case, the release contains the NGINX webserver. </li>
</ul>


